<div class="login">
  <div class="container">
    <div class="form">

      <h1>Log in</h1>

      <%= form_for(:session, url: login_path) do |f| %>
          <%= f.email_field :email, :placeholder => "Email", class: 'p1 mt2 block border1 border-color-smoke' %>
          <%= f.password_field :password, :placeholder => "Password", class: 'p1 mt2 block border1 border-color-smoke' %>
          <%= f.submit "Log in", class: "background-color-fire p1 mt2 border-none color-canvas" %>
      <% end %>

    </div>
  </div>
</div>
