<h1>Posts <%= link_to "+", '/posts/new', class: 'color-fire background-color-smoke p1 fr' %></h1>

<% @posts.each_with_index do |p, idx | %>
    <div class="p2 border-color-blaze <% if idx > 0 %> border-top border-color-smoke <% end %>">
      <h2 class="m0 p0"><%= p.title %></h2>
      <p><%= p.description %></p>
    </div>
<% end %>
