$spacing1: 12px;
$spacing2: 24px;

$rounded-radius: 2px;
$rounded-radius-l: 4px;
$rounded-radius-xl: 6px;
$rounded-radius-xxl: 8px;
$rounded-radius-xxxl: 10px;

$fire: #c91717;
$blaze: #fc1919;
$hazard: #ff6d43;
$fog: #f9f9f9;
$smoke: #e5e5e5;
$canvas: white;
$charcoal: #bcbcbc;
$coal: #666666;


$typography-size-small: 12px;
$typography-size-medium: 14px;
$typography-size-large: 18px;
$typography-size-extra-large: 22px;

.color-fire { color: $fire; }
.color-blaze { color: $blaze; }
.color-hazard { color: $hazard; }
.color-fog { color: $fog; }
.color-smoke { color: $smoke; }
.color-canvas { color: $canvas;}
.color-charcoal { color: $charcoal; }
.color-coal { color: $coal; }

.background-color-fire { background-color: $fire; }
.background-color-blaze { background-color: $blaze; }
.background-color-hazard { background-color: $hazard; }
.background-color-fog { background-color: $fog; }
.background-color-smoke { background-color: $smoke; }
.background-color-canvas { background-color: $canvas; }
.background-color-charcoal { background-color: $charcoal; }
.background-color-coal { background-color: $coal; }

.border-none { border: none }
.border1 { border-width: 1px; border-style: solid;}

.border-color-fire { border-color: $fire; }
.border-color-blaze { border-color: $blaze; }
.border-color-hazard { border-color: $hazard; }
.border-color-fog { border-color: $fog; }
.border-color-smoke { border-color: $smoke; }
.border-color-canvas { border-color: $canvas; }
.border-color-charcoal { border-color: $charcoal; }
.border-color-coal { border-color: $coal; }

.border {border-style: solid; border-width: 1px; }
.border-top {border-top-style: solid; border-top-width: 1px; }
.border-right {border-right-style: solid; border-right-width: 1px; }
.border-bottom {border-bottom-style: solid; border-bottom-width: 1px; }
.border-left {border-left-style: solid; border-left-width: 1px; }

.typography-small { font-size: $typography-size-small; }
.typography-medium { font-size: $typography-size-medium; }
.typography-large { font-size: $typography-size-large; }
.typography-extra-large { font-size: $typography-size-extra-large; }

.fl { float: left; }
.fr { float: right; }

.p0 { padding: 0; }
.p1 { padding: $spacing1 }
.pt1 { padding-top: $spacing1 }
.pl1 { padding-left: $spacing1 }
.pr1 { padding-right: $spacing1 }
.pb1 { padding-bottom: $spacing1 }


.p2 { padding: $spacing2 }
.pt2 { padding-top: $spacing2 }
.pl2 { padding-left: $spacing2 }
.pr2 { padding-right: $spacing2 }
.pb2 { padding-bottom: $spacing2 }


.m0 { margin: 0;}
.m1 { margin: $spacing1;}
.mt1 { margin-top: $spacing1;}
.ml1 { margin-left: $spacing1;}
.mr1 { margin-right: $spacing1;}
.mb1 { margin-bottom: $spacing1;}


.m2 { margin: $spacing2 }
.mt2 { margin-top: $spacing2 }
.ml2 { margin-left: $spacing2 }
.mr2 { margin-right: $spacing2 }
.mb2 { margin-bottom: $spacing2 }

.block { display: block }

.rounded { border-radius: $rounded-radius; }
.rounded-l { border-radius: $rounded-radius-l; }
.rounded-xl { border-radius: $rounded-radius-xl; }
.rounded-xxl { border-radius: $rounded-radius-xxl; }
.rounded-xxxl { border-radius: $rounded-radius-xxxl; }


body {
  font-family: sans-serif;
  font-size: $typography-size-small;
}

a { color: $fire; text-decoration: none }
p { color: $charcoal }

div { box-sizing: border-box}

.inline-list li { display: inline-block; }
.clearfix {clear:both }

.wrapper {
  width: 800px;
  margin: 80px auto;
  position: relative;
}

#nav {
  height: 80px;
}
